* {
  box-sizing: border-box;
  margin: 0;
  left: 0;
  font-family: 'Noto Sans', sans-serif;
}

body {
  color: #FFFFFF;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  font-size: 40px;
  padding: 25px 0;
  color: #AA0F00;
  text-shadow: 3px 3px black;
}

header {
  height: 150px;
  text-align: center;
  line-height: 200px;
  background-color: #FFFFFF;
}

#main_bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 700px;
  background-image: url("https://www.italotreno.it/-/media/Images/images_responsive/nuovo-motore/torino/background-torino.jpg");
  background-size: cover;
  margin: 0 auto;
  padding: 15px 15px;
}

.white_box {
  height: 40%;
  width: 70%;
  border: 2px solid white;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
}
.info_box {
  position: relative;
  float: left;
  height: 50%;
  width: calc(100% / 2);
  border: 2px solid white;
  padding: 10px;
  text-align: center;
}
.info_box h3 {
  font-size: 22px;
  text-shadow: 2px 2px black;
  padding-bottom: 30px;
}

.circle {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate( -50%, -50%);
  height: 110px;
  width: 110px;
  line-height: 110px;
  border-radius: 50%;
  color: #AA0F00;
  background-color: #FFFFFF;
}
.circle h4 {
  font-size: 20px;
}

#discount {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.red_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 550px;
  border-radius: 50%;
  background-color: #AA0F00;
  color: #FFFFFF;
}

#ticket {
  width: 80%;
  height: 35%;
  padding: 15px;
  background-color: #FFFFFF;
  color: black;
}
.hidden {
  opacity: 0;
  transition: 0.5s;
}
.show {
  opacity: 1;
  transition: 0.5s;
}

#info_passenger {
  float: left;
  height: 100%;
  width: 30%;
  text-align: center;
  line-height: 50px;
  border: 2px solid black;
  background-color: grey;
}
#info_passenger h4 {
  text-decoration: underline;
}

#info_ticket {
  float: left;
  height: 100%;
  width: 70%;
  border: 2px solid black;
  background-color: lightgrey;
}

.details_ticket {
  float: left;
  height: 100%;
  width: calc(100% / 4);
  padding-top: 30px;
}

.top_details_ticket {
  text-align: center;
  padding-top: 15px;
  height: 40%;
  width: 100%;
  border-top: 1px solid black;
}

.bottom_details_ticket {
  text-align: center;
  padding-bottom: 15px;
  height: 40%;
  width: 100%;
  border-bottom: 1px solid black;
}
